@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Indie+Flower&family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Kirang+Haerang&family=Shadows+Into+Light&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  text-align: center;
  background-image: url("../img/sun-3588618_1920.jpg");
  background-size: cover 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  font-family: 'Josefin Sans', sans-serif; }
  body header {
    width: 50%; }
    body header form {
      width: 100%; }
      body header form input {
        margin: 0;
        font-size: 1.1rem;
        padding: 12px 5px;
        border: none;
        float: left; }
      body header form #cityName {
        width: 70%;
        font-style: italic;
        -webkit-box-shadow: 0px 0px 11px 2px #ffffff;
                box-shadow: 0px 0px 11px 2px #ffffff;
        padding-left: 10px;
        border-radius: 5px 0 0 0;
        outline-color: #ecbc1e; }
      body header form input[type="submit"] {
        width: 30%;
        background-color: #ecbc1e;
        color: white;
        text-shadow: 1px 1px 1px black;
        font-weight: bold;
        -webkit-box-shadow: 0px 0px 11px 2px #ffffff;
                box-shadow: 0px 0px 11px 2px #ffffff;
        border-radius: 0 5px 0 0;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease; }
        body header form input[type="submit"]:hover {
          content: '';
          background-color: #0d59af;
          -webkit-transition: 0.3s ease;
          transition: 0.3s ease; }
  body .content {
    -webkit-box-shadow: 0px 0px 11px 2px #ffffff;
            box-shadow: 0px 0px 11px 2px #ffffff;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    border-radius: 0 0 5px 5px;
    background-color: rgba(13, 89, 175, 0.5); }
    body .content #icon_description {
      width: 40%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      text-align: center; }
      body .content #icon_description #weather_icon img {
        width: 55%; }
      body .content #icon_description #description {
        margin-top: -10px;
        color: white;
        text-shadow: 1px 1px 1px black;
        padding-bottom: 20px; }
    body .content #current_weather {
      width: 60%;
      float: right;
      padding: 20px 10px 20px 0px;
      color: white;
      text-shadow: 1px 1px 1px black; }
      body .content #current_weather h3 {
        font-size: 1.5rem;
        padding-bottom: 10px;
        margin-right: 15px; }
        body .content #current_weather h3 #currentCity {
          text-shadow: 1px 1px 1px black, 2px 2px 2px #ecbc1e; }
      body .content #current_weather p {
        font-size: 1.2rem;
        padding-top: 5px;
        padding-left: 5px; }
      body .content #current_weather p:nth-child(odd) {
        background-color: #0d59af; }
      body .content #current_weather .temp {
        font-weight: bold;
        text-shadow: 1px 1px 1px #0d59af;
        text-shadow: 1px 1px 1px black;
        padding-left: 10px; }
      body .content #current_weather #current_temp .current {
        font-size: 3rem; }

@media only screen and (max-width: 1178px) {
  body header {
    width: 70%; }
  body .content {
    width: 70%; } }
@media only screen and (max-width: 1016px) {
  body header {
    width: 80%; }
  body .content {
    width: 80%; } }
@media only screen and (max-width: 898px) {
  body header {
    width: 90%; }
  body .content {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    body .content #icon_description {
      width: 55%; }
    body .content #current_weather {
      width: 80%; } }
@media only screen and (max-width: 487px) {
  body header {
    width: 90%; }
    body header form input {
      font-size: 0.8rem; }
  body .content {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    body .content #icon_description {
      width: 80%; }
    body .content #current_weather {
      width: 80%; } }
@media only screen and (max-width: 320px) {
  body header {
    width: 90%; }
    body header form input {
      font-size: 0.8rem; }
  body .content {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    body .content #icon_description {
      width: 100%; }
    body .content #current_weather {
      width: 100%;
      padding-left: 10px; } }

/*# sourceMappingURL=style.css.map */