@mixin centeredFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    text-align: center;
    background-image: url('../img/sun-3588618_1920.jpg');
    background-size: cover 100vh;
    @include centeredFlex;
    flex-direction: column;
    height: 100vh;
    header {
        width: 45%;
        form {
            input {
                font-size: 1.1rem;
                padding: 12px 5px;
            }
            #cityName {
                width: 70%;
            }
            input[type = "submit"]{
                width: 29%;
        }
    }
}
    .content {
        border: 1px solid black;
        width: 45%;
        @include centeredFlex;
        text-align: left;
        #weather_icon {
            width: 40%;
            @include centeredFlex;
            img {
                width: 60%;
            }
        }
        #current_weather {
            // background-color: green;
            width: 60%;
            float: right;
            padding: 20px 0px;
            color: white;
            text-shadow: 1px 1px 1px black;


            h3 {
                font-size: 1.5rem;
                padding-bottom: 10px;
            }
            p {
                font-size: 1.2rem;
                padding-top: 5px;
                padding-left: 5px;
            }
            p:nth-child(odd){
                background-color: rgb(13, 89, 175);
            }
            // p:nth-child(even){
            // }
            .temp {
                font-weight: bold;
                text-shadow: 1px 1px 1px rgb(13, 89, 175);
                text-shadow: 1px 1px 1px black;
            }
            #current_temp {
                .current {
                    font-size: 1.7rem;
                }
            }
        }
    }
}