// Import font
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Indie+Flower&family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Kirang+Haerang&family=Shadows+Into+Light&display=swap');

// Var
$boxShadow: 0px 0px 11px 2px #ffffff;
$yellow: rgb(236, 188, 30);
$blue: rgb(13, 89, 175);

// Mixins
@mixin centeredFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    text-align: center;
    background-image: url('../img/sun-3588618_1920.jpg');
    background-size: cover 100vh;
    @include centeredFlex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    header {
        width: 50%;
        form {
            input {
                font-size: 1.1rem;
                padding: 12px 5px;
            }
            #cityName {
                width: 70%;
                font-style: italic;
                border: none;
                box-shadow: $boxShadow;
                padding-left: 10px;
                border-radius: 5px 0 0 0;
                outline-color: $yellow;
            }
            input[type = "submit"]{
                width: 28.9%;
                background-color: $yellow;
                border: none;
                color: white;
                text-shadow: 1px 1px 1px black;
                font-weight: bold;
                box-shadow: $boxShadow;
                border-radius: 0 5px 0 0;
                transition: 0.3s ease;
                &:hover {
                    content: '';
                    background-color: $blue;
                    transition: 0.3s ease;
                }
        }
    }
}
    .content {
        box-shadow: $boxShadow;
        width: 50%;
        @include centeredFlex;
        text-align: left;
        border-radius: 0 0 5px 5px;
        background-color: rgba($color: $blue, $alpha: 0.5);
        #icon_description {
            width: 40%;
            @include centeredFlex;
            flex-direction: column;
            // background-color: blue;
            text-align: center;
            #weather_icon {
                // background-color: yellowgreen;
                img {
                    width: 55%;
                }
            }
            #description {
                margin-top: -10px;
                color: white;
                text-shadow: 1px 1px 1px black;
                padding-bottom: 20px;
                // background-color: yellow;

            }
        }
        #current_weather {
            // background-color: green;
            width: 60%;
            float: right;
            padding: 20px 0px;
            color: white;
            text-shadow: 1px 1px 1px black;


            h3 {
                font-size: 1.5rem;
                padding-bottom: 10px;
                #currentCity {
                    text-shadow: 1px 1px 1px black, 2px 2px 2px $yellow;
                }
            }
            p {
                font-size: 1.2rem;
                padding-top: 5px;
                padding-left: 5px;
            }
            p:nth-child(odd){
                background-color: $blue;
            }
            // p:nth-child(even){
            // }
            .temp {
                font-weight: bold;
                text-shadow: 1px 1px 1px $blue;
                text-shadow: 1px 1px 1px black;
                padding-left: 10px;
            }
            #current_temp {
                .current {
                    font-size: 3rem;
                }
            }
        }
    }
}